body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

/* --- Frame --- */

/*.frame {
	color: #ff8533;
	font-family: 'Oxygen', sans-serif;
	height: 54px;
}

.frame a {
	color: #ff8533;
	text-decoration: none;
	position: relative;
	top: 30%;
	transform: translateY(50%);
	left: 20px;
}*/

/* --- Navigation Bar --- */

.nav-bar {
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
	height: 68px;
	padding: 1%;
}

.nav-bar a {
	color: #ff8533;
	text-decoration: none;
	position: relative;
	top: 30%;
	transform: translateY(50%);
}

.logo {
	float: left;
}

.first-name {
	color: #777;
	font-weight: bold;
}

.menu {
	float: right;
}


/* --- Main --- */

.hero {
	background-color: #fff;
	height: 130px;
	font-family: 'Rubik', sans-serif;
	text-align: center;
}

.hero h1 {
	font-size: 48px;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav {
	align-items: center;
	background-color: #fff;
	display: inline-flex;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	height: 80px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.nav li {
	margin: 4%;
	text-align: center;
	width: 25%;
}

.nav a {
	text-decoration: none;
	color: #777;
}

.nav a:hover {
	color: #000;
}

#cards {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.card {
	float: left;
	margin-bottom: -2px;
	margin-top: -2.5px;
	width: 33.33%;
	overflow: hidden;
	position: relative;
}

.card img {
	z-index: 0;
}

.site-name {
	background-color: rgba(255,133,51, 0.9);
	color: #fff;
	display: none;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	height: 72.8%;
	left: 0;
	overflow: hidden;
	padding-top: 20%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.card:hover .site-name {
	display: block;
}



/*--- Blog area --- */

#blog-card-area {
	background-color: #fff;
	/*float: left;*/
	margin: -2px;
	overflow: hidden;
	padding: 20px;
	position: relative;
}

.blog-card {
	float: left;
	font-family: 'Rubik', sans-serif;
	height: 334px;
	width: 25%;
}

.blog-card-content {
	margin: 54px 36px 54px 36px;
}

.blog-card-content hr {
	color: #777;
	text-align: center;
	text-decoration: none;
	margin-top: 18px;
	margin-bottom: 18px;
	width: 100%;
}

.blog-date {
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.blog-title h1 {
	font-size: 17px;
	font-weight: 600;
}

.blog-sample {
	color: #777;
	font-size: 15px;
}

.blog-author {
	font-size: 12px;
	font-weight: 600;
	padding: 0px 9px 9px 0px;
}

.blog-author img {
	border-radius: 50%;
	height: 20px;
	vertical-align: middle;
}

/* --- Button bar --- */

#action-bar {
	background-color: #ff8533;
	position: relative;
	float: left;
	height: 120px;
	text-align: center;
	width: 100%;
}

.action-btn {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.action-btn a {
	border: 1px solid #fff;
	border-radius: 120px;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	letter-spacing: 1.2px;
	padding: 13px 31px;
	text-decoration: none;
}

.action-btn a:hover {
	background-color: #fff;
	color: #000;
}

/* --- Footer --- */

footer {
	bottom: 0;
	color: #fff;
	/*display: block;*/
	height: 241px;
	position: relative;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

footer a {
	padding: 9px;
}

footer a:link, footer a:visited, footer a:active {
	color: #fff;
}

footer a:hover {
	color: #ff8533;
}

.social-buttons {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*overflow: hidden;*/
}

/* --- Back to Top --- */
.back-to-top {
	background-color: #303133;
	border-radius: 2px;
	bottom: 0;
	color: #fff;
	display: inline;
	font-size: 12px;
	height: 28px;
	margin: 22px;
	position: fixed;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 28px;
	z-index: 100;
}

.back-to-top a:link {
	color: #fff;
}

.back-to-top a:visited {
	color: #fff;
}

.back-to-top a:hover {
	color: #fff;
}

.back-to-top a:active {
	color: #fff;
}

.to-top {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}

/*-- Breakpoint 1000 ---*/
@media (max-width: 1000px) {
	.blog-card {
		float: left;
		/*height: 334px;*/
		width: 33.3%;
	}

	#blog-card-area > div:nth-child(4) {
		display: none;
	}
}

/*-- Breakpoint 780px --*/
@media (max-width: 780px) {
	.nav {
		display: inline-block;
		height: 220px;
	}

	.nav li {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}

	.card {
		width: 50%;
		margin-bottom: -3px;
		margin-top: -2px;
	}

	.site-name {
		height: 72.5%;
	}

	.blog-card {
		float: left;
		height: 334px;
		width: 50%;
	}

	#blog-card-area > div:nth-child(3) {
		display: none;
}


@media (max-width: 580px) {

	.nav {
		height: 200px;
	}


	.card {
		width: 100%;
	}

	.blog-card {
		float: center;
		/*height: 334px;*/
		width: 100%;
	}

	#blog-card-area > div:nth-child(2) {
		display: none;
	}
}
